<div class="column">
	<div class="card-block">
		<div class="card-head">Media Manager</div>
		<div class="card-body">
			<div class="upload-form-group">
				<input type="file" file-model="mediaFile"/>
				<button ng-click="uploadFile()" class="btn btn-primary">Upload</button>
				<div class="message">{{ uploadMessage }}</div>
			</div>
			<table class="full-width center-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Image</th>
						<th>Operator</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="media in data">
						<td>{{ media.id }}</td>
						<td><img ng-src="/uploads/{{ media.path }}" class="thumb"></td>
						<td><a href="javascipt:;" ng-click="delete(media.id)">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
