<div class="row flex-center">
	<div class="column flex-center">
	    <h1>Hello {{ dashboard.username }}</h1>
	    <p>Welcome to the secret page. </p>
	    <p>Your access_token is: {{ dashboard.access_token }}</p>
	</div>
</div>

<div class="row flex-center">
	<div class="column flex-center">
	    <h1>Congratulations!</h1>

	    <p>You have successfully created your Angular/Yii-powered application.</p>

	    <p><a class="btn btn-primary" href="http://www.yiiframework.com">Get started with Yii</a></p>
	</div>
</div>

