<div class="manager-form">
    <h1>Sign Up</h1>
    <form ng-submit="signup()" name="loginForm">
        <div ng-class="{ 'has-success': !error['username'] && submitted,
        'has-error': error['username'] && submitted }" class="form-group">
            <input type="text" ng-model="user.username" id="username" placeholder="Username">
            <p class="help-block" ng-show="error['username']">{{ error['username'] }}</p>
        </div>

        <div ng-class="{ 'has-success': !error['password'] && submitted,
        'has-error': error['password'] && submitted }" class="form-group">
            <input type="password" ng-model="user.password" id="password" placeholder="Password">
            <p class="help-block" ng-show="error['password']">{{ error['password'] }}</p>
        </div>

        <div ng-class="{ 'has-success': !error['email'] && submitted,
        'has-error': error['email'] && submitted }" class="form-group">
            <input type="text" ng-model="user.email" id="email" placeholder="Email">
            <p class="help-block" ng-show="error['email']">{{ error['email'] }}</p>
        </div>

        <div class="form-group tc">
            <button type="submit" ng-class="{ 'btn-disabled': doSubmit && submitted }" class="btn btn-primary" ng-disabled="doSubmit">Sign Up</button>
        </div>
    </form>
    <div class="message-wrap">
        <a href="#/login">Login</a>
    </div>
</div>

