@black: #000;
@white: #fff;
@gray: #ddd;
@red: #f00;
@primary-color: #3ca2e0;
@hover-color: @primary-color + 111;
@error-color: #d84946;
@card-head-color: #2c3e50;

/* Mixin Start */
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.row {
    .flex;
    flex-direction: row;
}

.column {
    .flex;
    flex-direction: column;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.row-center {
    .row;
    .flex-center;
}

.column-center {
    .column;
    .flex-center;
}

.flex-end {
    align-items: center;
    justify-content: flex-end;
}

.flex-between {
    align-items: center;
    justify-content: space-between;
}

.flex-around {
    align-items: center;
    justify-content: space-around;
}

.item-flex(@grow: 0, @shrink: 1, @basis: auto) {
    -webkit-box-flex: @grow @shrink @basis;
    -moz-box-flex: @grow @shrink @basis;
    -webkit-flex: @grow @shrink @basis;
    -ms-flex: @grow @shrink @basis;
    flex: @grow @shrink @basis;
}

.flex0 {
    .item-flex(0);
}

.flex1 {
    .item-flex(1);
}

.border(@pix: 1px, @color: @gray) {
    border: @pix solid @color;
}

.border-radius(@pix: 3px) {
    border-radius: @pix;
}

.no-list-style {
    list-style: none;
    li {
        list-style: none;
    }
}

.no-text-des {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.primary-font {
    font-family: 'Open Sans', sans-serif;
}

.width(@w: 0) {
    width: @w;
}

.min-width(@w: 0) {
    min-width: @w;
}

.height(@h: 0) {
    height: @h;
}

.min-height(@h: 0) {
    min-height: @h;
}

.transition(@attr: all, @type: ease, @time: .5s) {
    -moz-transition: @attr @type @time;
    -webkit-transition: @attr @type @time;
    -ms-transition: @attr @type @time;
    -o-transition: @attr @type @time;
    transition: @attr @type @time;
}

.transform(@val) {
    -webkit-transform: @val;
    -ms-transform: @val;
    transform: @val;
}

.animation(@key, @time: .5s) {
    -webkit-animation: @key @time;
    -moz-animation: @key @time;
    -o-animation: @key @time;
    animation: @key @time;
}

.scale-show {
    @keyframes scale-show {
        0% {
            .transform(scale(0));
        }
        100% {
            .transform(scale(1));
        }
    }

    @-moz-keyframes scale-show {
        0% {
            .transform(scale(0));
        }
        100% {
            .transform(scale(1));
        }
    }

    @-webkit-keyframes scale-show {
        0% {
            .transform(scale(0));
        }
        100% {
            .transform(scale(1));
        }
    }

    @-o-keyframes scale-show {
        0% {
            .transform(scale(0));
        }
        100% {
            .transform(scale(1));
        }
    }
}

.scale-hide {
    @keyframes scale-hide {
        0% {
            .transform(scale(1));
        }
        25% {
            .transform(scale(0.75));
        }
        100% {
            .transform(scale(0));
        }
    }

    @-moz-keyframes scale-hide {
        0% {
            .transform(scale(1));
        }
        25% {
            .transform(scale(0.75));
        }
        100% {
            .transform(scale(0));
        }
    }

    @-webkit-keyframes scale-hide {
        0% {
            .transform(scale(1));
        }
        25% {
            .transform(scale(0.75));
        }
        100% {
            .transform(scale(0));
        }
    }

    @-o-keyframes scale-hide {
        0% {
            .transform(scale(1));
        }
        25% {
            .transform(scale(0.75));
        }
        100% {
            .transform(scale(0));
        }
    }
}

/* Mixin End */

/* Site */
html, body {
    .min-height(100vh);
    .primary-font;
    margin: 0;
    padding: 0;
}

body {
    .row;
}

p {
    margin: .5em 0;
}

a {
    color: @primary-color;
    &:active, &visited {
        color: @primary-color;
    }
}

.bg-primary {
    background-color: @primary-color;
}

.bg-gray {
    background-color: @gray;
}

.bg-white {
    background-color: #fff;
}

.bg-trans {
    background-color: transparent;
}

.bg-login {
    background-color: #1c1f27;
}

.color-white {
    color: #fff;
}

.btn {
    .border(0);
    .border-radius(0);
    .bg-trans;
    .no-text-des;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 15px;
    outline: none;
}

.btn-primary {
    .bg-primary;
    .color-white;
    &:active, &visited {
        color: @white;
    }
}

.btn-disabled {
    .bg-gray;
}

.btn-lg {
    padding: 10px 25px;
    font-size: 25px;
}

.full-width {
    .width(100%);
}

.min-full-width {
    .min-width(100%);
}

.full-height {
    .height(100%);
}

.min-full-height {
    .min-height(100%);
}

.ng-enter {
    .animation(scale-show);
}

.nav-block {
    .column;
    .flex-between;
    .bg-primary;
    width: 235px;
    h2 {
        .item-flex(1);
        color: hsla(0, 0%, 100%, .6);
    }
    .menu-list {
        .item-flex(3);
        .no-list-style;
        .column;
        width: 100%;
        padding: 0;
        li {
            a {
                .no-text-des;
                display: block;
                padding: .6rem 0 .6rem 2rem;
                color: @white;
            }
        }
        li.active {
            background: darken(@primary-color, 8%);
        }
    }
}

.content-block {
    background: lighten(@gray, 7%);
    padding: 3rem 2rem;
}

.login-wrap {
    .bg-white;
    .border;
    padding: 20px 30px;
    width: 280px;
    max-width: 280px;
    h1 {
        margin: 0;
    }
    .form-group {
        .column;
        margin: 10px 0;
        input {
            .primary-font;
            .border;
            .border-radius(0);
            padding: .7em;
            outline: none;
        }
        .help-block {
            margin: 0;
            color: @error-color;
        }
    }
    .has-error {
        input {
            border-color: @error-color;
        }
    }
}

.signup-wrap {
    .login-wrap;
    .text-center;
    margin-top: 30px;
    padding: 10px 30px;
}

.card-block {
    .column;
    .card-head {
        background: @card-head-color;
        color: @white;
        padding: .5rem 1rem;
        font-size: 2rem;
    }
    .card-body {
        padding: 1rem;
        background: darken(@white, 2%);
        form {
            .column;
            .form-group {
                .column;
                margin-bottom: 1rem;
                label {
                    display: inline-block;
                    margin-bottom: .5rem;
                }
                .form-control {
                    .border(1px, #ccc);
                    display: block;
                    color: darken(@gray, 50%);
                    font-size: .875rem;
                    font-family: initial;
                    width: auto;
                    padding: .375rem .75rem;
                    line-height: 1.5;
                    background-color: @white;
                    background-image: none;
                    option {
                        color: @black;
                    }
                }
            }
        }
    }
}

.upload-form-group {
    margin-bottom: 1rem;
}